// Colours partial

// Text colours
$txt-primary: #5f3d38;
// body font
$txt-secondary: #674641;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #be968b;
$form-placeholder: #947f7a;
// form placeholder text
// Global colours
// $accent-color: #e8ca6f;
// FFFFD8
$accent-color: #78331F;
// global accent colour
// $accent-color-hover: #d3b56a;
$accent-color-hover: #e46c4b;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #670e00;
$h3-color: #670e00;
$h4-color: #670e00;
$h5-color: #670e00;
$p-color: #670e00;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #674641;
$footer-primary: #670e00;
$footer-secondary: #904b40;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #674641;